{# START USER INFORMATION #}
<row>
    <columns>
        <p>
            {{ registration.fullName }}<br/>
            {{ registration.line1 }}<br/>
            {{ registration.city }}, {{ registration.state }} {{ registration.zipcode }}
        </p>
    </columns>
</row>
{# END USER INFORMATION #}