{% extends 'frontend/blank_content.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map-launch-points') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map-launch-points') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <i class="fa-solid fa-place-of-worship fa-bounce fa-2xl mb-2 text-dark"></i>
            <h1 class="text-dark mb-5 display-1">Contact</h1>
            <hr>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div id="map" data-pins="{{ map_pins|json_encode }}"></div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2 class="text-bg-light">Event Contacts</h2>
                </div>
            </div>
            <div class="row">
                {{ component('contact_event_leaders') }}
            </div>
            <div class="row">
                <h2 class="card-header">Launch Point Contacts</h2>
            </div>
            <div class="row">
                {% for launchPoint in launch_points %}
                    <div class="col-4">
                        <h5 class="card-title">{{ launchPoint.name }}</h5>
                        <p class="card-text">Leader informaiton will go here. Do we want Addresses? </p>
                        <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{ launchPoint.longAddress|url_encode }}" class="btn btn-primary">Get Directions</a>
                    </div>
                {% endfor %}
            </div>

        </div>


    </div>
    <div class="row">

    </div>
{#    {{ dump(launch_points) }}#}
{% endblock %}

