{#  To render the component, use {{ component('testimonial') }} #}
{# There will be 3 Layouts.
    1) Full Width Featured
    2) Full Width Normal (Right & Left Aligned)
    3) 33% Width Just Quote
#}
{% if isLayoutFeatured %}
    {% if createWrapper %}
        <div{{ attributes.defaults({class: "row gx-0 mb-4 mb-lg-5 align-items-center #{background}",}) }}>
    {% endif %}
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ asset('build/images/bg-masthead.jpg') }}"  alt="..." /></div>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <figure>
                    <blockquote class="blockquote">
                        <p class="text-black-50 mb-0">{{ testimonial.quote }}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="Source Title">{{ testimonial.name }}, {{ testimonial.city }}</cite>
                    </figcaption>
                </figure>
            </div>
        </div>

    {% if createWrapper %}
        </div>
    {% endif %}
{% elseif isLayoutGrid %}
    {% if createWrapper %}
        <div{{ attributes.defaults({class: "row gx-0 justify-content-center #{background}"}) }}>
    {% endif %}
        <div class="col-lg-6 gx-3">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <figure>
                            <blockquote class="blockquote">
                                <p class="mb-0 text-white-50">{{ testimonial.quote }}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                <cite class=" text-primary" title="Source Title">{{ testimonial.name }}, {{ testimonial.city }}</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    {% if createWrapper %}
        </div>
    {% endif %}
{% elseif isLayoutHalfRight %}
    {% if createWrapper %}
        <div{{ attributes.defaults({class: "row gx-0 mb-5 mb-lg-0 justify-content-center #{background}"}) }}>
    {% endif %}
        <div class="col-lg-6"><img class="img-fluid" src="{{ asset('build/images/demo-image-01.jpg') }}"  alt="..." /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <figure>
                            <blockquote class="blockquote">
                                <p class="mb-0 text-white-50">{{ testimonial.quote }}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                <cite class=" text-primary" title="Source Title">{{ testimonial.name }}, {{ testimonial.city }}</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    {% if createWrapper %}
        </div>
    {% endif %}
{% else %}
    {% if createWrapper %}
        <div{{ attributes.defaults({class: "row gx-0 justify-content-center #{background}"}) }}>
    {% endif %}

        <div class="col-lg-6"><img class="img-fluid" src="{{ asset('build/images/demo-image-02.jpg') }}"  alt="..." /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <figure>
                            <blockquote class="blockquote">
                                <p class="mb-0 text-white-50">{{ testimonial.quote }}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                <cite class=" text-primary" title="Source Title">{{ testimonial.name }}, {{ testimonial.city }}</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    {% if createWrapper %}
        </div>
    {% endif %}
{% endif %}
