{% extends 'frontend/blank_content_container.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-1">
                    <i class="fa-solid fa-church fa-2xl mb-2 text-dark text-center"></i>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-dark display-1 mb-5 text-center">Registration</h1>
                    <p class="text-dark text-center">Below is a list of all events that are currently open for registration. Click on the event name to proceed.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 mb-3 g-4">
        {% for event in events %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-center">{{ event.name }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <dl class="row">
                                        <dt class="col-sm-3">Location</dt>
                                        <dd class="col-sm-9">{{ event.location.longAddress|nl2br }}</dd>

                                        <dt class="col-sm-3">Date</dt>
                                        <dd class="col-sm-9">{{ event.start|date('M') }} {{ event.start|date('d') }} - {{ event.end|date('d') }}</dd>

                                        <dt class="col-sm-3">Price</dt>
                                        <dd class="col-sm-9">{{ (event.price)|format_currency('USD') }}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="d-grid gap-2">
                                        <a href="{{ path('app_registration_attendee_formentry',{'event': event.id}) }}" class="btn btn-primary btn-sm btn-block">Attendee Registration</a>
                                        <a href="{{ path('app_registration_server_formentry',{'event': event.id}) }}" class="btn btn-outline-secondary btn-sm btn-block">Server Registration</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


